Repository DeveloperAcademy-POSTECH/MC3-Team14-HyojaDongHyojadeul, pull requests merged in 2022-08, with the labels that each got.

#131 [BUG] icon 변경으로 xcode warning 제거
  AMaDda/Global/Resource/Assets.xcassets/AppIcon.appiconset/100.png
  AMaDda/Global/Resource/Assets.xcassets/AppIcon.appiconset/1024.png
  AMaDda/Global/Resource/Assets.xcassets/AppIcon.appiconset/114.png
  AMaDda/Global/Resource/Assets.xcassets/AppIcon.appiconset/120.png
  AMaDda/Global/Resource/Assets.xcassets/AppIcon.appiconset/128.png
  AMaDda/Global/Resource/Assets.xcassets/AppIcon.appiconset/144.png
  AMaDda/Global/Resource/Assets.xcassets/AppIcon.appiconset/152.png
  AMaDda/Global/Resource/Assets.xcassets/AppIcon.appiconset/16.png
  AMaDda/Global/Resource/Assets.xcassets/AppIcon.appiconset/167.png
  AMaDda/Global/Resource/Assets.xcassets/AppIcon.appiconset/172.png
  AMaDda/Global/Resource/Assets.xcassets/AppIcon.appiconset/180.png
  AMaDda/Global/Resource/Assets.xcassets/AppIcon.appiconset/196.png
  AMaDda/Global/Resource/Assets.xcassets/AppIcon.appiconset/20.png
  AMaDda/Global/Resource/Assets.xcassets/AppIcon.appiconset/216.png
  AMaDda/Global/Resource/Assets.xcassets/AppIcon.appiconset/256.png
  AMaDda/Global/Resource/Assets.xcassets/AppIcon.appiconset/29.png
  AMaDda/Global/Resource/Assets.xcassets/AppIcon.appiconset/32.png
  AMaDda/Global/Resource/Assets.xcassets/AppIcon.appiconset/40.png
  AMaDda/Global/Resource/Assets.xcassets/AppIcon.appiconset/48.png
  AMaDda/Global/Resource/Assets.xcassets/AppIcon.appiconset/50.png
  AMaDda/Global/Resource/Assets.xcassets/AppIcon.appiconset/512.png
  AMaDda/Global/Resource/Assets.xcassets/AppIcon.appiconset/55.png
  AMaDda/Global/Resource/Assets.xcassets/AppIcon.appiconset/57.png
  AMaDda/Global/Resource/Assets.xcassets/AppIcon.appiconset/58.png
  AMaDda/Global/Resource/Assets.xcassets/AppIcon.appiconset/60.png
  AMaDda/Global/Resource/Assets.xcassets/AppIcon.appiconset/64.png
  AMaDda/Global/Resource/Assets.xcassets/AppIcon.appiconset/72.png
  AMaDda/Global/Resource/Assets.xcassets/AppIcon.appiconset/76.png
  AMaDda/Global/Resource/Assets.xcassets/AppIcon.appiconset/80.png
  AMaDda/Global/Resource/Assets.xcassets/AppIcon.appiconset/87.png
  AMaDda/Global/Resource/Assets.xcassets/AppIcon.appiconset/88.png
  AMaDda/Global/Resource/Assets.xcassets/AppIcon.appiconset/Contents.json
  AMaDda/Global/Resource/Assets.xcassets/Assets/AppIcon.appiconset/Contents.json
  AMaDda/Global/Resource/Assets.xcassets/Assets/Contents.json
Labels: 🐞bug, 🖼Assets

#135 [BUG] 수정하기 뷰 placeholder 해결
  AMaDda/Screens/Editting/EdittingViewController.swift
Labels: 🐞bug, Editting

#132 [BUG] 이미지 버그와 텍스트 버그 수정
  AMaDda/Screens/Adding/AddingViewController.swift
  AMaDda/Screens/Editting/EdittingViewController.swift
Labels: 🐞bug, Editting

#120 [FEAT] 팝업뷰 띄우기
  AMaDda.xcodeproj/project.pbxproj
  AMaDda/Global/Literal/ImageLiteral.swift
  AMaDda/Screens/Main/MainViewController.swift
  AMaDda/Screens/Main/PopupView/FeedBackPopUpView.swift
  AMaDda/Screens/Main/PopupView/ProgressWithTextView.swift
  AMaDda/Screens/Main/Views/FamilyTableCell.swift
  AMaDda/Screens/Onboarding/OnboardingGoalViewController.swift
  AMaDda/Screens/Onboarding/OnboardingTwoViewController.swift
Labels: Main, UI

#142 [BUG] cell의 item이 update에 제대로 전달되지 않는 문제 해결
  AMaDda/Screens/Main/MainViewController.swift
Labels: 🐞bug

#143 [CHORE] changeTodayQuestion를 Dispatch main queue 처리
  AMaDda/Screens/Main/MainViewController.swift
Labels: Refactor

#146 [FEAT/BUG] 온보딩 UI 수정 및 버그 해결
  AMaDda/Global/Extension/Color+Extension.swift
  AMaDda/Global/Resource/Assets.xcassets/onboardingGoalImage.imageset/Contents.json
  AMaDda/Global/Resource/Assets.xcassets/onboardingGoalImage.imageset/onboardingGoalImage_border.png
  AMaDda/Global/Resource/Assets.xcassets/onboardingGoalImage.imageset/onboardingGoalImage_border@2x.png
  AMaDda/Global/Resource/Assets.xcassets/onboardingGoalImage.imageset/onboardingGoalImage_border@3x.png
  AMaDda/Global/UIComponent/CommonButton.swift
  AMaDda/Screens/Onboarding/OnboardingGoalViewController.swift
  AMaDda/Screens/Onboarding/OnboardingTwoViewController.swift
Labels: UI, 🐞bug, onboarding

#149 [CHORE] 캐릭터 default값 추가 및 dismiss 취소로 변경
  AMaDda/Screens/Adding/AddingViewController.swift
  AMaDda/Screens/Editting/EdittingViewController.swift
  AMaDda/Screens/Main/MainViewController.swift
Labels: Main, Adding, Editting

#159 [CHORE] change setting icon&positon
  AMaDda/Screens/Main/MainViewController.swift
  AMaDda/Screens/Main/Views/TodayQuestionView.swift
Labels: Main

#160 [CHORE] darkMode setting & modal default character
  AMaDda/Screens/Editting/EdittingViewController.swift
  AMaDda/Screens/ProfileModal/Controllers/ProfileModalViewController.swift
  AMaDda/Screens/ProfileModal/Views/ProfileModalCell.swift
Labels: UI, 기능구현

#163 [FEAT] edit darkmode button colors
  AMaDda/Global/Extension/Color+Extension.swift
  AMaDda/Global/UIComponent/CommonButton.swift
  AMaDda/Screens/Onboarding/OnboardingGoalViewController.swift
  AMaDda/Screens/Onboarding/OnboardingOneViewController.swift
  AMaDda/Screens/Onboarding/OnboardingTwoViewController.swift
Labels: UI, onboarding, Refactor

#176 [BUG] 알림목표 설정 다크모드 해결
  AMaDda/Screens/SettingGoalViewController/SettingGoalViewController.swift
Labels: 🐞bug, Setting

#177 [BUG] popupView darkmode 확인 버튼 해결
  AMaDda/Screens/Main/PopupView/FeedBackPopUpView.swift
Labels: 🐞bug
